@using Vetreg.ViewModels
@model WorkOwnerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Work</h4>
<hr />

<div class="container">
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label>OwnerType</label>
                    <span></span>
                    <a asp-action="Create" asp-route-ownerType="Individual"> Individual </a>
                    <span>  |  </span>
                    <a asp-action="Create" asp-route-ownerType="Company"> Company </a>
                </div>

                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" asp-format="{0:dd.MM.yyyy}" class="form-control" />@*value="@{Model.Date.ToString("0:dd.MM.yyyy");}"*@
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CauseId" class="control-label"></label>
                    <select asp-for="CauseId" class="form-control"
                            asp-items="Model.Causes">
                        @*<option selected>@Model.CauseId</option>*@
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="DiseaseId" class="control-label"></label>
                    <select asp-for="DiseaseId" class="form-control"
                            asp-items="Model.Diseases">
                        @*<option selected>@Model.DiseaseId</option>*@
                    </select>

                </div>



                @*<div class="form-group">
                    <label asp-for="Owners" class="control-label"></label>
                    <select asp-for="OwnersId" class="form-control"
                            asp-items="Model.Owners"></select>
                         </div>*@
                
                <div class="form-group">
                    <select multiple="multiple" id="list" class="multi-select"
                            asp-for="@Model.SelectedAnimals"
                            asp-items="@Model.Animals"
                            ></select>
                </div>

@*                 <div class="form-group"> *@
@*                 <label $1$asp-for="Owners." class="control-label"#1#>Animals</label> *@
@*                 <table class="table"> *@
@*                     <thead> *@
@*                         <tr> *@
@*                             <th> *@
@*                                 Check *@
@*                             </th> *@
@*                             <th> *@
@*                                 OwnerName *@
@*                             </th> *@
@* *@
@*                             <th> *@
@*                                 ChipNumber *@
@*                             </th> *@
@*                             <th> *@
@*                                 Age *@
@*                             </th> *@
@*                             <th></th> *@
@*                         </tr> *@
@*                     </thead> *@
@*                     <tbody> *@
@*                         @if (Model.Animals != null) *@
@*                         { *@
@*                             @for (int i = 0; i < Model.Animals.Count(); i++) *@
@*                             { *@
@*                                 <tr> *@
@*                                     <td> *@
@*                                         @Html.CheckBox("Model.Animals[" + i + "].IsChected", false, Model.Animals[i].IsChected) *@
@*                                     </td> *@
@*                                     <td> *@
@*                                         @Model.Animals[i].OwnerName *@
@*                                     </td> *@
@*                                     <td> *@
@*                                         @Model.Animals[i].ChipNumber *@
@*                                     </td> *@
@*                                     <td> *@
@*                                         @Model.Animals[i].Age *@
@*                                     </td> *@
@*                                     <td> *@
@*                                         @Html.Hidden("Model.Animals[" + i + "].AnimalId", Model.Animals[i].AnimalId) *@
@*                                     </td> *@
@*                                     <td> *@
@*                                         @Html.Hidden("Model.Animals[" + i + "].OwnerId", Model.Animals[i].OwnerId) *@
@*                                     </td> *@
@*                                 </tr> *@
@*                             } *@
@*                         } *@
@* *@
@*                     </tbody> *@
@*                 </table> *@
@* *@
@*             </div> *@



                <div class="col-md-4">
                    <div class="w-100"></div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>

                @*<label asp-for="Animals" class="control-label"></label>
                    <select asp-for="AnimalsId" class="form-control" style="overflow: auto;"
                            asp-items="Model.Animals"></select>*@
            </div>
        </div>

    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}







    

@*<table class="table">
    <thead>
        <tr>
            <th>
                Check
            </th>
            <th>
                OwnerName
            </th>

            <th>
                ChipNumber
            </th>
            <th>
                Age
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Animals != null)
        {
            @foreach (var item in Model.Animals)
            {
                <tr>
                    <td>

                        <input type="checkbox" asp-for="@item.IsChected" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChipNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>*@