@model Vetreg.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KindId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kind.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreedId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SuitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Suit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sticker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sticker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChipNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChipNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @{
                @if (@Model.Gender == 0)
                {
                    @: M
                }
                else
                {
                    @: Ж
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRetired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRetired)
        </dd>
    </dl>
</div>
<div class="form-group">
    <div class="table">
        <table>
            <tr>
                @{
                    @Html.DisplayNameFor(model => model.WorksWithAnimal)
                    if (Model.WorksWithAnimal.Count > 0) {
                        int cnt = 0;
                        foreach (var work in Model.WorksWithAnimal) {
                            if (cnt++ % 3 == 0) {
                            @:</tr><tr>
                        }
                        @:<td>
                            <a asp-controller="Work" asp-action="Details" asp-route-id="@work.WorkId">Disease: @work.Work.Disease </a>
                            @:  -
                            @: Date: @string.Format("{0:dd-MM-yyyy}", work.Work.Date)
                            @:  | </td>
                        }
                    @:</tr>
                   }
                }
            </table>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.GUID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
