@model Vetreg.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Region.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KindId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kind.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreedId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SuitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Suit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sticker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sticker)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChipNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChipNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @{
                @Html.DisplayFor(model => model.Birthday);

                DateTime age = DateTime.MinValue + (TimeSpan)(DateTime.Now - Model.Birthday);
                @: Age: @(age.Year - 1) 
                @: y @(age.Month - 1)
                @: m.
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @{
                @if (@Model.Gender == 0)
                {
                    @: M
                }
                else
                {
                    @: Ж
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRetired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRetired)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GUID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
